<div class="row" style="justify-content: space-around;">
	<div class="file-drop-area">
		<span class="choose-file-button">Selecione o arquivo</span>
		<span *ngIf="fileSelected == null; else nomeArquivo" class="file-message">ou arraste o arquivo neste local</span>
		<ng-template #nomeArquivo>
			<span class="file-message">{{ fileSelected.name }}</span>
		</ng-template>
		<input class="file-input" type="file" (change)="selectFile($event)">

		<button *ngIf="fileSelected != null" class="processar-btn btn btn-info" [disabled]="!selectedFiles" (click)="upload()">
			Processar agenda
		</button>
	</div>
</div>

<div *ngIf="currentFile" class="progress my-3">
	<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
		attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
		{{ progress }}%
	</div>
</div>

<div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>